{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JJ Pictures{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="logo"><a href="{% url 'home' %}"><img src="{% static 'main/transparentLogo.png' %}"
                            alt="Logo"></a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'portfolio' %}">Work</a></li>
                <li><a href="{% url 'gear' %}">Gear</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 JJ Pictures. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>